# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Statements
## 7. Operators and operands
## 8. Order of operations
## 9. String operations
## 10. Asking the user for input
## 11. Type Casting
## 12. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [1]:
print (1)

1

In [2]:
print(2.5)

2.5

In [3]:
print ("hello world")

hello world

In [4]:
print ('hello world')

hello world

In [5]:
# print two or more values using single statement
print(6,'hello')

6 hello

In [6]:
# print the name of your country
print("Pakistan")

Pakistan

In [7]:
# print your date of birth
print(1,'March', 1998)

1 March 1998

In [8]:
# print your name, age and height using one print statement
print('Mudasser', ' age', 21 ,' height', 5.8)

Mudasser  age 21  height 5.8

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [8]:
type(1)

int

In [9]:
type(2.5)

float

In [10]:
type("hello world")

str

In [11]:
# what will be the type of '5'
type(5)

int

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [12]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed"
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [13]:
# to print the name you can use print statement
print(name)

Ahmed

In [14]:
# print the values of age and height
print(age, height)

20 3.5

In [15]:
# print all three values using single print statement
print(name, age, height)

Ahmed 20 3.5

In [21]:
# What will happen if you print 1 million using following statement
print(1,000,000) #it will print only 1 0 0. because due to presence of comma it take it as zero

1 0 0

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unless
we are writing library code for others to use.

In [19]:
#what will happen
47name = 'Pakistan' #it will give error because name should start with alphabet.
name@ = 'Pakistan'  #it will give error because name should start with alphabet.
class = 'Pakistan'  #it will give error because class is not a variable.
myname = 'kamran'

It turns out that class is one of Pythonâ€™s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Statements

A statement is a unit of code that the Python interpreter can execute.
We have seen two kinds of statements: print and assignment.

# 7. Operators and operands

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [22]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)

52 2 20 2.0 25 3

In [23]:
# print 200+323-433
print(200+323-433)

90

In [24]:
# print (2+1)*(8-6)
print((2+1)*(8-6))

6

# 8. Expressions

An expression is a combination of values, variables, and operators.

Assignement: type the following statements in the Python interpreter to see what
they do:
5
x = 5
x + 1

In [26]:
5

5

In [27]:
x=5
x+1

6

# 9. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [ ]:
# write output of the following commands without excuting it
# print (2*(3-1))
# print ((1+1)**(5-2))
# print (2**1+1)
# print (3*1**3)

In [ ]:
the output of the above command is
4
8
3
3

# 10. String operations

In [28]:
first = 10
second = 20
print (first + second)

30

In [29]:
first = '10'
second = '20'
print (first + second)

1020

In [1]:
print ("hello " * 3 )

hello hello hello

In [6]:
# print your name 10 times
print('Mudasser' * 10)

MudasserMudasserMudasserMudasserMudasserMudasserMudasserMudasserMudasserMudasser

# 11. Asking the user for input

In [31]:
name = input("please enter name: ")
print (name)

please enter name: Mudasser
Mudasser

In [32]:
# wirte a program which take age from user and concate it three time
age = input('please enter your age: ')
print(age * 3)

please enter your age: 21
212121

# 12. Type Casting

In [33]:
a = '10'
print (a)

10

In [ ]:
# int(a)
# str(a)

In [44]:
# take an interger from user and multiply it with 15
x=input('select an integer: ')
x=int(x)
x=x*15
print(x)

select an integer: 3
45

# 13. Comments

In [ ]:
# here is comments

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.

Enter your name: Chuck
Hello Chuck

In [9]:
name = input('enter your name :')
print('Welcome ',name)

enter your name :Mudasser
Welcome  Mudasser

Write a program to prompt the user for hours and rate per hour to
compute gross pay.

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

In [12]:
hour = input('enter hours :')
rate = input('enter rate per hour :')
hour = int(hour)
rate = float(rate)
print('pay: ', hour*rate)

enter hours :35
enter rate per hour :2.75
pay:  96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5

Use the Python interpreter to check your answers.

In [13]:
width = 17
height = 12.0
x= width/2
print(x)
type(x)

y= width/2.0
print(y)
type(y)

z= height/3
print(z)
type(z)

a= 1 + 2 * 5
print(a)
type(a)

8.5
8.5
4.0
11

int

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.

In [15]:
x = input('enter the temperature in celsius: ')
x= int(x)
y = 1.8*x + 32
print('temperature in fahrenheit is: ', y)

enter the temperature in celsius: 32
temperature in fahrenheit is:  89.6